.transition {
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.remove-sidebar .sidebar-container {
  display: none;
}
.remove-sidebar .entry-header,
.remove-sidebar .entry-content,
.remove-sidebar .entry-summary,
.remove-sidebar .entry-meta {
  padding-right: 30px;
  padding-left: 30px;
}
.button-style {
  background: #02B8FF;
  border-bottom: none;
  border-radius: 100px;
  border: none;
  color: #fff;
  display: block;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  font-weight: 700;
  height: 48px;
  letter-spacing: 1px;
  padding: 0 24px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.button-style:hover {
  background: #01A0F0;
  color: #fff;
  text-decoration: none;
}
.button-secondary-style {
  background: #7282AE;
}
.button-secondary-style:hover {
  background: #9CAAD2;
}
/* Micro ClearFix Mixin */
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  background: #FFF url("https://2016.sevilla.wordcamp.org/files/2016/05/sevilla_16.jpg") no-repeat center top;
  background-size: 100% auto;
  font-weight: 400;
  font-family: 'Ubuntu', sans-serif;
  color: #313237;
}
a,
.entry-meta a,
.entry-content a,
.navigation a {
  color: #02B8FF;
  text-decoration: none;
  font-style: normal;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
a:visited,
.entry-meta a:visited,
.entry-content a:visited,
.navigation a:visited {
  color: #02B8FF;
  text-decoration: none;
}
a:hover,
.entry-meta a:hover,
.entry-content a:hover,
.navigation a:hover {
  color: #01A0F0;
}
strong,
b {
  font-weight: 700;
}
em,
i {
  font-style: italic;
  font-weight: inherit;
}
.site {
  background: transparent;
  border: none;
  max-width: 100%;
}
#main {
  background: #FFF;
  border-radius: 2px;
}
.comment-respond {
  background: #FC9F6A;
}
.toggled-on .nav-menu > li a:focus,
.toggled-on .nav-menu > ul a:focus {
  background-color: #ce530b;
}
.site-header .home-link {
  min-height: 270px;
  padding-top: 20px;
}
.site-header .home-link .site-title {
  background: url("https://2016.sevilla.wordcamp.org/files/2016/05/wordcamp_sevilla_logo_3.png") no-repeat center top;
  height: 133px;
  width: 200px;
  background-size: contain;
  margin: 0 auto;
  text-indent: -9999em;
  padding: 0;
}
.site-header .home-link .site-description {
  width: 280px;
  height: 30px;
  background-size: contain;
  margin: 0 auto;
  top: 0px;
  clip: auto;
  position: relative;
  text-align: center;
  font-size: 1em;
  color: #F5F6F9;
}
.site-header .home-link::after {
  content: "";
  display: block;
  background: url("https://2016.sevilla.wordcamp.org/files/2016/05/fecha.png") no-repeat center top;
  width: 200px;
  height: 54px;
  background-size: contain;
  margin: 0 auto;
  position: relative;
  top: 0px;
}
.page-id-7 .entry-header,
.page-id-7 .entry-content,
.page-id-7 .entry-summary,
.page-id-7 .entry-meta {
  max-width: 80%;
}
.wcpt-schedule tr th:first-child {
  width: 9%;
}
.wcpt-schedule tr th:nth-child(2),
.wcpt-schedule tr th:nth-child(3),
.wcpt-schedule tr th:nth-child(4) {
  width: 30%;
}
body.page .site-header .home-link,
body.single .site-header .home-link {
  min-height: 130px;
}
body.page .site-header .home-link .site-title,
body.single .site-header .home-link .site-title {
  background-image: url("https://2016.sevilla.wordcamp.org/files/2016/05/wordcamp_sevilla_logo_3.png");
  height: 91px;
  width: 250px;
}
body.page .site-header .home-link .site-description,
body.single .site-header .home-link .site-description {
  display: none;
}
body.page .site-header .home-link::after,
body.single .site-header .home-link::after {
  display: none;
}
header#masthead {
  background: none;
  margin-top: 60px;
}
.widget {
  background-color: #FC9F6A;
  border-radius: 2px;
}
#text-2 img {
  width: 100%;
  max-width: 98px;
  margin: 15px;
}
#secondary .wcb_widget_sponsors {
  width: 100%;
  position: relative !important;
/*  top: auto !important;
  left: auto !important;*/
}
#secondary .wcb_widget_sponsors h3.widget-title {
  font-style: normal;
  font-weight: 400;
  color: #FFF;
  font-size: 28px;
}
#secondary .wcb_widget_sponsors .sponsor-level .sponsor-level-title {
  font-weight: 300;
  color: #000;
  margin-bottom: 0;
}
#secondary .wcb_widget_sponsors .sponsor-level .sponsor-level-title:after {
  content: "";
  display: block;
  background: #F36A19;
  height: 2px;
  width: 100%;
}
#secondary .wcb_widget_sponsors .sponsor-level .sponsor-logo {
  margin: 40px 2%;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
#secondary .wcb_widget_sponsors .sponsor-level .sponsor-logo:hover {
  opacity: .7;
}
.wcorg-mailchimp input {
  width: 100%;
  height: 48px;
  margin-bottom: 20px;
}
h1,
h2,
h3,
h4,
h5,
p,
li,
input,
textarea {
  font-family: 'Ubuntu', sans-serif;
}
h3 {
  font-weight: 600;
}
.hentry {
  padding: 15px 0 60px;
}
.site-main .sidebar-container {
  top: 60px;
}
.entry-title::after {
  content: '';
  display: block;
  height: 10px;
  border-top: 2px solid #FC9F6A;
  width: 100%;
  margin-top: 14px;
}
.entry-title,
.entry-title a {
  font-family: 'Ubuntu', sans-serif;
  font-size: 32px;
  font-weight: 300;
  line-height: 42px;
  color: #313237;
}
.entry-title a:hover {
  color: #02B8FF;
  text-decoration: none;
}
.entry-meta a::before {
  position: relative;
  top: -1px;
  font-size: 20px !important;
  margin-right: 1px;
}
.entry-meta .author {
  display: none;
}
.entry-content {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  position: relative;
}
footer.site-footer {
  background: #F36A19;
  text-align: center !important;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 1.5pt;
}
footer.site-footer #secondary {
  background: #FC9F6A;
  border-top: 2px solid #ECEBDD;
}
footer.site-footer .widget-title,
footer.site-footer .widget-title a,
footer.site-footer .wp-caption-text {
  color: #000;
}
footer.site-footer .site-info {
  border-top: 2px solid #F36A19;
}
footer.site-footer a {
  color: #FFF;
}
button,
input[type="submit"],
input[type="button"],
input[type="reset"],
a.button,
.widget a.button {
  background: #02B8FF;
  border-bottom: none;
  border-radius: 100px;
  border: none;
  color: #fff;
  display: block;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  font-weight: 700;
  height: 48px;
  letter-spacing: 1px;
  padding: 0 24px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
button:hover,
input[type="submit"]:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
a.button:hover,
.widget a.button:hover {
  background: #01A0F0;
  color: #fff;
  text-decoration: none;
}
button.secondary,
input[type="submit"].secondary,
input[type="button"].secondary,
input[type="reset"].secondary,
a.button.secondary,
.widget a.button.secondary {
  background: #7282AE;
}
button.secondary:hover,
input[type="submit"].secondary:hover,
input[type="button"].secondary:hover,
input[type="reset"].secondary:hover,
a.button.secondary:hover,
.widget a.button.secondary:hover {
  background: #9CAAD2;
}
a.button {
  display: inline-block;
}
input,
textarea {
  border: 1px solid #D5D8E0;
}
.wcorg-sponsor-description div {
  margin-bottom: 24px;
}
#text-4 img {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}
#text-4 img:hover {
  opacity: .7;
}
body.tagregator.sidebar .entry-header,
body.tagregator.sidebar .entry-content,
body.tagregator.sidebar .entry-summary,
body.tagregator.sidebar .entry-meta {
  padding: 0 0 0 60px;
}
body.tagregator .site-main .sidebar-container {
  display: none;
}
body.tagregator .tggr-media-item {
  border-color: #E7E7E7;
}
.navbar .nav-menu li a {
  color: #FFF;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
@media screen and (min-width: 1203px) {
  .navbar .nav-menu li a {
    padding: 0 20px;
    font-size: 14px;
  }
}
@media screen and (min-width: 1044px) and (max-width: 1202px) {
  .navbar .nav-menu li a {
    padding: 0 15px;
    font-size: 13px;
  }
  .site-description {
    font-size: 3em;
  }
}
@media screen and (min-width: 644px) and (max-width: 1043px) {
  .navbar .nav-menu li a {
    padding: 0 10px;
    font-size: 12px;
  }
}
@media screen and (min-width: 644px) {
  .home .site-header .home-link {
    padding-top: 48px;
    min-height: 450px;
  }
  .home .site-header .home-link .site-title {
    background-image: url("https://2016.sevilla.wordcamp.org/files/2016/05/wordcamp_sevilla_logo.png");
    height: 210px;
    width: 415px;
  }
  .home .site-header .home-link .site-description {
    width: 707px;
    height: 75px;
    top: 0px;
    position: relative;
    font-size: 2em;
  }
  .home .site-header .home-link::after {
    width: 350px;
    top: 0px;
  }
  body.page .site-header .home-link .site-title,
  body.single .site-header .home-link .site-title {
    height: 148px;
    width: 480px;
  }
  #navbar {
    position: fixed;
    top: 0;
    height: 60px;
    max-width: 100%;
    background: #F36A19;
    z-index: 10000;
  }
  #navbar .nav-menu {
    padding: 0;
  }
  #navbar .nav-menu .current_page_item > a,
  #navbar .nav-menu .current_page_ancestor > a,
  #navbar .nav-menu .current-menu-item > a,
  #navbar .nav-menu .current-menu-ancestor > a {
    font-style: normal;
    background: #FE8843;
  }
  #navbar .nav-menu .current_page_item > a:hover,
  #navbar .nav-menu .current_page_ancestor > a:hover,
  #navbar .nav-menu .current-menu-item > a:hover,
  #navbar .nav-menu .current-menu-ancestor > a:hover {
    cursor: default;
    background: #FE8843;
    color: #fff;
  }
  #navbar .nav-menu li {
    float: left;
  }
  #navbar .nav-menu li a {
    line-height: 60px;
  }
  #navbar .nav-menu li a:hover {
    background-color: #02B8FF;
    color: #fff;
  }
  #navbar .nav-menu li:hover > a {
    background-color: #F36A19;
  }
  #navbar .nav-menu .sub-menu,
  #navbar .nav-menu .children {
    border: none;
    left: 0;
    background-color: #F36A19;
  }
  #navbar .nav-menu .sub-menu li,
  #navbar .nav-menu .children li {
    width: 100%;
  }
  #navbar .nav-menu .sub-menu li a,
  #navbar .nav-menu .children li a {
    line-height: 24px;
    padding: 12px 20px;
    border-bottom: 1px solid #2C503A;
    text-align: left;
    width: 100%;
    min-width: 200px;
    font-size: 12px;
  }
  #navbar li.tickets {
    float: right;
  }
  #navbar li.tickets a {
    background: #02B8FF;
    color: #fff;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
  }
  #navbar li.tickets a:hover {
    background: #01A0F0;
    color: #fff;
  }
  #navbar li.current_page_item.home:after,
  #navbar li.current_page_item.tickets:after {
    display: none;
  }
  .main-navigation {
    max-width: 100% !important;
  }
  .site-content {
    min-height: 720px;
  }
  .hentry {
    padding: 60px 0;
  }
  #main {
    max-width: 1170px;
    margin: 0 auto;
  }
  #secondary .wcb_widget_sponsors .sponsor-level .sponsor-logo {
    width: 45%;
    display: block;
    float: left;
    text-align: center;
    box-sizing: border-box;
  }
  #secondary .wcb_widget_sponsors .sponsor-level.wordcamp-champion .sponsor-logo {
    width: 33%;
    padding: 15px;
    box-sizing: border-box;
  }
  #secondary .wcb_widget_sponsors .sponsor-level.wordcamp-accomplice .sponsor-logo {
    width: 25%;
    padding: 10px;
    box-sizing: border-box;
  }
  #secondary .wcb_widget_sponsors .sponsor-level.small-business-sponsor .sponsor-logo {
    min-height: 100px;
  }
  #secondary .wcb_widget_sponsors .sponsor-level.in-kind-sponsor .sponsor-logo {
    width: 33%;
    padding: 10px;
    box-sizing: border-box;
    min-height: 174px;
  }
}
@media screen and (max-width: 643px) {
  #masthead {
    margin-top: 52px;
  }
  .navbar {
    background-color: #F36A19;
    color: #FFF !important;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
  }
  .navbar .nav-menu li a,
  .navbar .nav-menu li > ul a {
    color: #FFF;
  }
  .navbar .current-menu-item,
  .navbar .current_page_item,
  .navbar .current-menu-ancestor,
  .navbar .current-menu-parent,
  .navbar .current_page_ancestor {
    background: #02B8FF;
  }
  .navbar .current-menu-item a,
  .navbar .current_page_item a,
  .navbar .current-menu-ancestor a,
  .navbar .current-menu-parent a,
  .navbar .current_page_ancestor a {
    font-style: normal;
  }
  .navbar .menu-item-has-children::after {
    -webkit-font-smoothing: antialiased;
    display: block;
    font: normal 12px/1 Genericons;
    vertical-align: text-bottom;
    content: "\f502";
    position: absolute;
    top: 21px;
    right: 20px;
  }
  .navbar .menu-item-has-children.focus {
    background: #2D3345;
  }
  .navbar .nav-menu .sub-menu,
  .navbar .nav-menu .children {
    border: none;
    margin-left: 0;
  }
  .navbar .nav-menu .sub-menu li,
  .navbar .nav-menu .children li {
    background: #e65d0c;
  }
  .navbar .menu-toggle,
  .navbar .menu-toggle:hover,
  .navbar .menu-toggle:focus,
  .navbar .menu-toggle:active {
    color: #fff;
    padding: 12px 0 12px 20px;
    font-weight: 700;
  }
}
.entry-content,
.site-content article,
body,
p,
* {
  -webkit-hyphens: none !important;
  -moz-hyphens: none !important;
  hyphens: none !important;
}
.tix-column-remaining {
  display: none;
}
#tix-attendees li {
  height: 120px;
}
.wcpt-schedule td {
  vertical-align: top;
}
.wcpt-schedule .wcpt-track-name {
  display: block;
}
.wcpt-schedule .wcpt-session-title {
  display: block;
}
body.page-id-5 .sidebar-container,
body.page-id-1229 .sidebar-container {
  display: none;
}
body.page-id-5 .entry-header,
body.page-id-1229 .entry-header,
body.page-id-5 .entry-content,
body.page-id-1229 .entry-content,
body.page-id-5 .entry-summary,
body.page-id-1229 .entry-summary,
body.page-id-5 .entry-meta,
body.page-id-1229 .entry-meta {
  padding-right: 30px;
  padding-left: 30px;
}
body.page-id-5 .color-key,
body.page-id-1229 .color-key {
  margin-bottom: 20px;
  clear: both;
}
body.page-id-5 .color-key > div,
body.page-id-1229 .color-key > div {
  padding: 5px;
  color: #313237;
  font-size: 14px;
}
body.page-id-5 .color-key .key-everyone,
body.page-id-1229 .color-key .key-everyone,
body.page-id-5 .color-key .key-break,
body.page-id-1229 .color-key .key-break,
body.page-id-5 .color-key .key1,
body.page-id-1229 .color-key .key1,
body.page-id-5 .color-key .key2,
body.page-id-1229 .color-key .key2,
body.page-id-5 .color-key .key3,
body.page-id-1229 .color-key .key3,
body.page-id-5 .color-key .key4,
body.page-id-1229 .color-key .key4 {
  padding-left: 35px;
  position: relative;
}
@media all and (min-width: 701px) {
  body.page-id-5 .color-key .key-everyone,
  body.page-id-1229 .color-key .key-everyone,
  body.page-id-5 .color-key .key-break,
  body.page-id-1229 .color-key .key-break,
  body.page-id-5 .color-key .key1,
  body.page-id-1229 .color-key .key1,
  body.page-id-5 .color-key .key2,
  body.page-id-1229 .color-key .key2,
  body.page-id-5 .color-key .key3,
  body.page-id-1229 .color-key .key3,
  body.page-id-5 .color-key .key4,
  body.page-id-1229 .color-key .key4 {
    float: left;
    margin-right: 20px;
  }
}
body.page-id-5 .color-key .key-everyone::before,
body.page-id-1229 .color-key .key-everyone::before,
body.page-id-5 .color-key .key-break::before,
body.page-id-1229 .color-key .key-break::before,
body.page-id-5 .color-key .key1::before,
body.page-id-1229 .color-key .key1::before,
body.page-id-5 .color-key .key2::before,
body.page-id-1229 .color-key .key2::before,
body.page-id-5 .color-key .key3::before,
body.page-id-1229 .color-key .key3::before,
body.page-id-5 .color-key .key4::before,
body.page-id-1229 .color-key .key4::before {
  background: #F5F6F9;
  border-radius: 100px;
  content: "";
  display: block;
  height: 30px;
  left: 0;
  position: absolute;
  top: 7px;
  width: 30px;
}
body.page-id-5 .color-key .key1::before,
body.page-id-1229 .color-key .key1::before {
  background: #00b39b;
}
body.page-id-5 .color-key .key2::before,
body.page-id-1229 .color-key .key2::before {
  background: #0D97A3;
}
body.page-id-5 .color-key .key3::before,
body.page-id-1229 .color-key .key3::before {
  background: #10719B;
}
body.page-id-5 .color-key .key4::before,
body.page-id-1229 .color-key .key4::before {
  background: #175999;
}
body.page-id-5 .wcpt-schedule td,
body.page-id-1229 .wcpt-schedule td {
  vertical-align: top;
}
body.page-id-5 .wcpt-schedule .wcb-track-all-users,
body.page-id-1229 .wcpt-schedule .wcb-track-all-users,
body.page-id-5 .wcpt-schedule .wcb-track-business,
body.page-id-1229 .wcpt-schedule .wcb-track-business,
body.page-id-5 .wcpt-schedule .wcb-track-design-front-end,
body.page-id-1229 .wcpt-schedule .wcb-track-design-front-end,
body.page-id-5 .wcpt-schedule .wcb-track-developers,
body.page-id-1229 .wcpt-schedule .wcb-track-developers,
body.page-id-5 .wcpt-schedule .wcpt-session-type-custom,
body.page-id-1229 .wcpt-schedule .wcpt-session-type-custom,
body.page-id-5 .wcpt-schedule .wcb-session-lunch,
body.page-id-1229 .wcpt-schedule .wcb-session-lunch {
  border-left: 15px solid #F5F6F9;
}
body.page-id-5 .wcpt-schedule .wcb-track-all-users,
body.page-id-1229 .wcpt-schedule .wcb-track-all-users {
  border-left-color: #00b39b;
}
body.page-id-5 .wcpt-schedule .wcb-track-business,
body.page-id-1229 .wcpt-schedule .wcb-track-business {
  border-left-color: #0D97A3;
}
body.page-id-5 .wcpt-schedule .wcb-track-design-front-end,
body.page-id-1229 .wcpt-schedule .wcb-track-design-front-end {
  border-left-color: #10719B;
}
body.page-id-5 .wcpt-schedule .wcb-track-developers,
body.page-id-1229 .wcpt-schedule .wcb-track-developers {
  border-left-color: #175999;
}
body.page-id-5 .wcpt-schedule .wcpt-session-type-custom,
body.page-id-1229 .wcpt-schedule .wcpt-session-type-custom,
body.page-id-5 .wcpt-schedule .wcb-session-lunch,
body.page-id-1229 .wcpt-schedule .wcb-session-lunch {
  background: #F5F6F9;
  border-left-color: #F5F6F9;
  text-align: center;
}
body.page-id-5 .wcpt-schedule .wcb-session-after-party,
body.page-id-1229 .wcpt-schedule .wcb-session-after-party,
body.page-id-5 .wcpt-schedule .wcb-session-after-party-wedge-brewing,
body.page-id-1229 .wcpt-schedule .wcb-session-after-party-wedge-brewing {
  text-align: center;
  background-color: #fabd5e;
  border-left: 15px solid #fabd5e;
}
body.page-id-5 .wcpt-schedule .wcb-session-after-party:hover,
body.page-id-1229 .wcpt-schedule .wcb-session-after-party:hover,
body.page-id-5 .wcpt-schedule .wcb-session-after-party-wedge-brewing:hover,
body.page-id-1229 .wcpt-schedule .wcb-session-after-party-wedge-brewing:hover {
  background-color: #fcd18f !important;
  border-left-color: #fcd18f !important;
}
body.page-id-5 .wcpt-schedule .wcpt-session-type-custom,
body.page-id-1229 .wcpt-schedule .wcpt-session-type-custom,
body.page-id-5 .wcpt-schedule .wcpt-session-type-session,
body.page-id-1229 .wcpt-schedule .wcpt-session-type-session {
  padding-left: 10px;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
body.page-id-5 .wcpt-schedule .wcpt-session-type-custom:hover,
body.page-id-1229 .wcpt-schedule .wcpt-session-type-custom:hover,
body.page-id-5 .wcpt-schedule .wcpt-session-type-session:hover,
body.page-id-1229 .wcpt-schedule .wcpt-session-type-session:hover {
  background: #F0FFFD;
  border-left-color: #F36A19;
}
@media all and (min-width: 701px) {
  body.page-id-5 .wcpt-schedule .wcpt-session-type-custom,
  body.page-id-1229 .wcpt-schedule .wcpt-session-type-custom,
  body.page-id-5 .wcpt-schedule .wcpt-session-type-session,
  body.page-id-1229 .wcpt-schedule .wcpt-session-type-session {
    width: 23%;
  }
}
body.page-id-5 .wcpt-schedule .wcpt-track-name,
body.page-id-1229 .wcpt-schedule .wcpt-track-name {
  display: block;
}
body.page-id-5 .wcpt-schedule .wcpt-session-title,
body.page-id-1229 .wcpt-schedule .wcpt-session-title {
  color: #313237;
  line-height: 1.5;
  font-weight: bold;
  font-size: 16px;
}
body.page-id-5 .wcpt-schedule .wcpt-session-title,
body.page-id-1229 .wcpt-schedule .wcpt-session-title {
  display: block;
}
body.page-id-5 .wcpt-schedule .wcpt-session-speakers a,
body.page-id-1229 .wcpt-schedule .wcpt-session-speakers a {
  color: #313237;
}
body.page-id-5 .wcpt-schedule .wcpt-session-speakers a:before,
body.page-id-1229 .wcpt-schedule .wcpt-session-speakers a:before {
  content: '- ';
}
body.page-id-5 .wcpt-schedule .wcpt-session-speakers:before,
body.page-id-1229 .wcpt-schedule .wcpt-session-speakers:before {
  display: none;
}
body.page-id-5 .wcpt-schedule .wcpt-session-type-session:before,
body.page-id-1229 .wcpt-schedule .wcpt-session-type-session:before {
  color: #fff;
}
body.page-id-5 .wcpt-schedule .wcpt-session-empty,
body.page-id-1229 .wcpt-schedule .wcpt-session-empty {
  display: none;
}
.wcorg-speakers .none,
.wcorg-speakers .list {
  display: none;
}
.single-wcb_speaker .enlace.bio {
  display: none;
}
.wcpt-session-speakers a {
  color: #F36A19;
}
.wcorg-speaker {
  border-bottom: solid #F36A19;
}
body.page-id-12 .sidebar-container {
  display: none;
}
body.page-id-12 .entry-header,
body.page-id-12 .entry-content,
body.page-id-12 .entry-summary,
body.page-id-12 .entry-meta {
  padding-right: 30px;
  padding-left: 30px;
}
@media all and (min-width: 500px) {
  #post-1 .color-key > div {
    float: left;
    width: 50%;
  }
  #post-1 .wcpt-schedule td {
    border-right: 1px solid #fff;
  }
}
.wcorg-organizer-description .photo {
  float: left;
  margin: 0 1.2em 0.8em 0;
}
body.admin-bar {
  margin-top: 32px;
}
body.admin-bar #navbar {
  top: 32px;
}
